extends ideaDeveloper

block comments
	div.well
		each comment in comments
			hr
			div.row
				div.col-md-12
					span #{comment.username} on #{comment.date}
					span.pull-right Votes 
						span.badge #{comment.votes}
					p #{comment.contents}
					
		form.form-horizontal(action='/idea/' + idea.id + '/comment' method='post')
			div.form-group
				div.col-sm-8
					textarea.form-control(rows='4' placeholder='Comment' name='comment')
			div.form-group
					div.col-sm-8
						button.btn.btn-primary(type='submit') Leave a comment
