extends layout

block content
  form(action="/idea", method="post", enctype="multipart/form-data")
    p
      label(for="name") Idea Name
      input(type="text", name="name", placeholder="...")
    p
      label(for="name") Brief Description
      input(type="text", name="summary", placeholder="...")
      | This description will appear when browsing ideas from AppFactory's
      | home page.
    p
      label(for="name") Full Description
      input(type="text", name="description", placeholder="...")
      | This description goes on your idea's Details page.
    p
      label(for="displayImage") Thumbnail
      input(type="file", name="displayImage", accept="image/*")
    p
      input(type="submit")
