extends layout

block content
  div.container.short
    div.jumbotron
      h1 #{idea.name}
      h3 Screenshots
      div.row
        div.col-sm-6.col-md-4
          div.thumbnail
            img(src="/idea/thumbs/" + idea.id)
        if (screenshotIds.length > 0)
          - var n = 1
          each imageId in screenshotIds
            if (n % 3 == 0)
              div.row
            div.col-sm-6.col-md-4
              div.thumbnail
                a(href="/idea/" + idea.id + "/screens/" + imageId + ".jpg")
                  img(src="/idea/" + idea.id + "/screenthumbs/" + imageId + ".jpg")
            - n++
      form.form-horizontal(action='/idea/' + idea.id + '/screens' method='post' enctype='multipart/form-data')
        div.form-group
          div.col-sm-10
            input(type='file' name='screenshot' accept='image/*' required)
        div.form-group
          div.col-sm-10
            button.btn.btn-primary(type='submit') Add screenshot
      h3 Summary
      p #{idea.summary}
      h3 Description
      p #{idea.description}

  block voting
  block ideaDeveloper
  block comments
