extends layout

block content
  script(src='/javascripts/idea.js').
  div.col-md-8.col-md-offset-2
    form.form-horizontal(action='/idea' method='post' enctype='multipart/form-data')
      div.form-group
        label(for='name' class='col-sm-2 control-label') Title
        div.col-sm-10
          input.form-control(type='text' name='name' placeholder='Title' required)

      div.form-group
        label(for='category' class='col-sm-2 control-label') Category
        div.col-sm-10
          select#defaultVote.form-control(name='category' value=categories[0])
            each category in categories
              option(value=category)= category

      div.form-group(data-toggle='tooltip' data-placement='top' title="This description goes on your idea's details page, and the first portion of it will appear on the idea browsing page.")
        label(for='description' class='col-sm-2 control-label') Description
        div.col-sm-10
          textarea.form-control(rows='4' name='description' placeholder='Description' required)
      div.form-group
        label(for='displayImage' class='col-sm-2 control-label') Thumbnail
        div.col-sm-10
          input(type='file' name='displayImage' accept='image/*') 
      div.form-group
        div.col-sm-offset-2.col-sm-10
          button.btn.btn-primary(type='submit') Submit