extends layout

block content
	div.container
		div.row
			each idea in ideas
				div.col-sm-6.col-md-4
					div.thumbnail
						img(src='/idea/thumbs/' + idea.id, alt='idea_image')
						div.caption
							h3.bold #{idea.name}
							p.light 
								| #{idea.summary}