extends layout

block content
		div.col-md-11
			div.panel.panel-default
				div.panel-body
					div.row
						div.col-md-8
									div.row
									p.bold Congratulations, you are now part of MobiMockup team!