doctype html
html
	head
		title AppFactory
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js').
		script(src='/bootstrap/js/bootstrap.min.js').
		nav.navbar.navbar-default.navbar-static-top
			div.container
				div.navbar-header
					button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/') AppFactory

				div.collapse.navbar-collapse#bs-example-navbar-collapse-1
					ul.nav.navbar-nav
						li
							a(href='/about') About
						li
							a(href='/idea') Create
					ul.nav.navbar-nav.navbar-right
						li
							if locals.user
								a(href='/profile') #{user.name}
							else
								a(href='/auth/facebook' id='image')
									img(src='/images/facebook.png' alt='facebook')
	block content