extends baselayout

block navbar
	div.navbar-header
		a.navbar-brand(href='/demo') AppTogether
	div.collapse.navbar-collapse#bs-example-navbar-collapse-1
		ul.nav.navbar-nav
			li
				a(href='/demo/idea') Submit Idea
			li
				a(href='/demo/profile/browse') Build Team
			li
				a(href='/demo/about') About
		ul.nav.navbar-nav.navbar-right
			li
				if locals.user
					a(href='/demo/profile') 
						img#profilepic(src='#{user.profile_pic_url}' alt='profile pic') 
						|   #{user.name}
				else
					a(href='/demo/auth/facebook')
						i.fa.fa-facebook-official
						|  Login 
			li
				if locals.user
					a(href='/demo/profile/madhav/messages') 
						img#smallicon(src='/images/messages_icon.jpg' alt='profile pic')
						|  Messages 
