extends layout

block content
		div.col-md-11
			div.panel.panel-default
				div.panel-body
					div.row
						h4.bold(style='margin-left: 15px') My Messages
						div.col-md-3
							div.list-group
								div.list-group-item(style='background-color: #b0c5de')
									a(href='/demo/profile/garrett')
										img#profilepic(src='/images/garrett_pic.jpg' alt='profile pic')
										span.bold   Garrett Halls 
										span.pull-right.badge(style="background-color:#2FBA4F") new
									p.bold Invitation to join BBSense
								div.list-group-item
									a(href='#')
										img#profilepic(src='/images/kevin_pic.jpg' alt='profile pic')
										span.bold   Kevin Deus
									p Kevin wants to work with you!
								div.list-group-item
									a(href='#')
										img#profilepic(src='/images/abhi_pic.jpg' alt='profile pic')
										span.bold   Abhishek Prateek
									p Welcome to AppTogether!
						div.col-md-8
									div.row
									a(href='/demo/profile/garrett')
										img#profilepic(src='/images/garrett_pic.jpg' alt='profile pic')
										span.bold   Garrett Halls   
									| invited you to join his team for 
									a(href='/demo/idea/10')
										BBSense BBSense
									div.row
										div.col-md-8
											p
											p Hey Madhav
											p 
												| I came across your profile and I am interested in working with you.
												| I think we'd make a great team! Check out the idea that I have
												| posted and let me know if it interests you.
											p
											p
											p Cheers!
											p Garrett
									div.row
										div.col-md-8
											p
											div.form-group
												div.col-sm-offset-0.col-sm-10
													a(href="/demo/sendInvite/accepted") 
														button.btn.btn-primary(type='submit' style="background-color:#2FBA4F") Accept
													button.btn.btn-primary(type='submit' style="background-color:#FF0000") Reject