extends layout

block content
	div.container
		div.col-md-8.col-md-offset-2
			div.panel.panel-default
				div.panel-body
					div.row
						div.col-md-4
							a.thumbnail(href='#' style='padding:0px;')
								img(src='/images/garrettprofile.png' style='height:200px; width:auto;')
						div.col-md-8
							h4.bold Garrett Halls
							p Finance Director at Seattle Surgery Center
							p Greater Seattle Area
							p
								div.btn-group
									button.btn.btn-default 
										i.fa.fa-linkedin
							p 
								| Average Peer Rating  
								span(style='color:gold')
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star 
									i.fa.fa-star-o
							button.btn.btn-primary(type='button') Invite To Join Team
					div.row
						div.col-md-6
							h4.bold Interests
							ul.list-group
								li.list-group-item
									| Business
								li.list-group-item
									| E-commerce
								li.list-group-item
									| Internet of Things
								li.list-group-item
									| Sharing Economy
								li.list-group-item
									| Health and Fitness
					div.row
						h4.bold(style='margin-left: 15px') Skills
						div.col-md-6
							h5.bold 
								| Technical
								span.pull-right(style='font-size:11px') Endorsements
							ul.list-group
								li.list-group-item
									| Prototyping
									span.pull-right.badge 10
								li.list-group-item
									| UI Design
									span.pull-right.badge 5
						div.col-md-6
							h5.bold 
								| Non-Technical
								span.pull-right(style='font-size:11px') Endorsements
							ul.list-group
								li.list-group-item
									| Budgets
									span.pull-right.badge 16
								li.list-group-item
									| Finance
									span.pull-right.badge 13
								li.list-group-item
									| Management
									span.pull-right.badge 7
								li.list-group-item
									| Financial Reporting
									span.pull-right.badge 6
								li.list-group-item
									| Accounting
									span.pull-right.badge 4
								li.list-group-item
									|  Project Management
									span.pull-right.badge 4

					div.row
						div.col-md-12
							h4.bold Projects
							div.panel.panel-default
								div.panel-body
									div.row
										div.col-md-4
											a.thumbnail(href='/demo/idea/12' style='padding:0px;')
												img(src='/images/mobi.jpg' style='height:200px;width:auto;')
										div.col-md-8
											h5.bold Mobi Mockup
											p An app that lets you build interactive mockups on your phone. You can easily draw screenshots. 								
									div.row
										div.col-md-4
											a.thumbnail(href='#' style='padding:0px;')
												img(src='/images/appfactory.jpg' style='height:200px; width:auto;')
										div.col-md-8
											h5.bold AppFactory
											p Online platform to bring ideators and developers together.
											p 
												| Peer Rating  
												span(style='color:gold')
													i.fa.fa-star
													i.fa.fa-star
													i.fa.fa-star
													i.fa.fa-star 
													i.fa.fa-star-o
									div.row
										div.col-md-4
											a.thumbnail(href='#' style='padding:0px;')
												img(src='/images/bbsense.jpg' style='height:200px; width:auto;')
										div.col-md-8
											h5.bold BBSense
											p BBSense is a new infant monitoring system that transmits infant health data wirelessly from sensors worn in an infant's clothing to a smart-phone app. 
											p 
												| Peer Rating  
												span(style='color:gold')
													i.fa.fa-star
													i.fa.fa-star
													i.fa.fa-star
													i.fa.fa-star
													i.fa.fa-star-o


