extends layout

block content
	div.container
		div.col-md-8.col-md-offset-2
			div.panel.panel-default
				div.panel-body
					div.row
						div.col-md-4
							a.thumbnail(href='#' style='padding:0px;')
								img(src='/images/profile.jpg' style='height:200px; width:auto;')
						div.col-md-8
							h4.bold Madhav Murthy
							p Student at University of Washington
							p Greater Seattle Area
							p
								div.btn-group
									button.btn.btn-default 
										i.fa.fa-linkedin
									button.btn.btn-default
										i.fa.fa-github
									button.btn.btn-default
										| Website
							p 
								| Average Peer Rating  
								span(style='color:gold')
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
							a(href='/demo/sendInvite') 
								button.btn.btn-primary(type='button') Invite To Join Team
					div.row
						div.col-md-6
							h4.bold Interests
							ul.list-group
								li.list-group-item
									| Travel and Navigation
								li.list-group-item
									| E-commerce
								li.list-group-item
									| Sports
								li.list-group-item
									| Sharing Economy
					div.row
						h4.bold(style='margin-left: 15px') Skills
						div.col-md-6
							h5.bold 
								| Technical
								span.pull-right(style='font-size:11px') Endorsements
							ul.list-group
								li.list-group-item
									| Web Frontend
									span.pull-right.badge 12
								li.list-group-item
									| Javascript Programming
									span.pull-right.badge 12
								li.list-group-item
									| Java Programming
									span.pull-right.badge 6
								li.list-group-item
									| Web Backend
									span.pull-right.badge 5
								li.list-group-item
									| Python programming
									span.pull-right.badge 2

						div.col-md-6
							h5.bold 
								| Non-Technical
								span.pull-right(style='font-size:11px') Endorsements
							ul.list-group
								li.list-group-item
									|  Presentations
									span.pull-right.badge 1
					div.row
						div.col-md-12
							h4.bold Projects
							div.panel.panel-default
								div.panel-body
									div.row
										div.col-md-4
											a.thumbnail(href='#' style='padding:0px;')
												img(src='/images/appfactory.jpg' style='height:200px; width:auto;')
										div.col-md-8
											h5.bold AppTogether
											p Online platform to bring ideators and developers together.
											p 
												| Peer Rating  
												span(style='color:gold')
													i.fa.fa-star
													i.fa.fa-star
													i.fa.fa-star
													i.fa.fa-star 
													i.fa.fa-star
									div.row
										div.col-md-4
											a.thumbnail(href='#' style='padding:0px;')
												img(src='/images/chat.png' style='height:200px; width:auto;')
										div.col-md-8
											h5.bold NodeChat
											p Session-based chat server and client built using node.js, socket.io and mongodb.
											p 
												| Peer Rating  
												span(style='color:gold')
													i.fa.fa-star
													i.fa.fa-star
													i.fa.fa-star
													i.fa.fa-star 
													i.fa.fa-star


