extends layout

block content
	div.container
		div.col-md-8.col-md-offset-2
			div.panel.panel-default
				div.panel-body
					div.row
						div.col-md-4
							a.thumbnail(href='#')
								img(src='/images/no_image.gif')
						div.col-md-4
							h4.bold Madhav Murthy
							p Student at University of Washington
							p Greater Seattle Area
							button.btn.btn-primary(type='button') Invite To Join Team
					div.row
						div.col-md-6
							h4.bold Interests
							ul.list-group
								li.list-group-item
									input(type='checkbox' checked disabled)   
									span
										|  Travel and Navigation
								li.list-group-item
									input(type='checkbox' checked disabled)
									span
										|  E-commerce
								li.list-group-item
									input(type='checkbox' disabled)
									span
										|  Health and Fitness
								li.list-group-item
									input(type='checkbox' disabled)
									span
										|  Games
								li.list-group-item
									input(type='checkbox' checked disabled)
									span
										|  Sports
								li.list-group-item
									input(type='checkbox' checked disabled)
									span
										|  Sharing Economy
								li.list-group-item
									input(type='checkbox' disabled)
									span
										|  Medical
					div.row
						h4.bold(style='margin-left: 15px') Skills
						div.col-md-6
							h5.bold Technical
							ul.list-group
								li.list-group-item
									input(type='checkbox' disabled)   
									span
										|  Android
								li.list-group-item
									input(type='checkbox' checked disabled)   
									span
										|  iOS
								li.list-group-item
									input(type='checkbox' checked disabled)   
									span
										|  Web backend
								li.list-group-item
									input(type='checkbox' disabled)   
									span
										|  UX design
								li.list-group-item
									input(type='checkbox' checked disabled)   
									span
										|  Java
						div.col-md-6
							h5.bold Non-Technical
							ul.list-group
								li.list-group-item
									input(type='checkbox' disabled)   
									span
										|  Marketing
								li.list-group-item
									input(type='checkbox' disabled)   
									span
										|  Sales
								li.list-group-item
									input(type='checkbox' checked disabled)   
									span
										|  Presentations
								li.list-group-item
									input(type='checkbox' disabled)   
									span
										|  Product Manager
					div.row
						div.col-md-8
							h4.bold Profile Links
							p
								a(href='#')
									i.fa.fa-linkedin
									|  https://www.linkedin.com
							p
								a(href='#')
									i.fa.fa-github
									|  https://www.github.com
							p
								a(href='#')
									i.fa.fa-desktop
									|  https://www.madhavm.io
					div.row
						div.col-md-12
							h4.bold Past Projects
							div.panel.panel-default
								div.panel-body
									div.row
										div.col-md-4
											a.thumbnail(href='#')
												img(src='/images/no_image.gif' style='height:100px; width:auto;')
										div.col-md-8
											h5.bold AppFactory
											p Online platform to bring ideators and developers together.
									div.row
										div.col-md-4
											a.thumbnail(href='#')
												img(src='/images/no_image.gif' style='height:100px; width:auto;')
										div.col-md-8
											h5.bold NodeChat
											p Session-based chat server and client built using node.js, socket.io and mongodb.



