extends ideaDetail

block voting
  form(action='/idea/' + idea.id + '/vote' method='post')
    if (userVote != undefined)
      div
        if (userVote == -1)
          | You voted: I don't think this will succeed
        else if (userVote == -2)
          | You voted: Too difficult to implement
        else if (userVote == -3)
          | You voted: I don't support this for some other reason
        else
          | You voted $#{userVote}
    div
      label(for='vote') DollarVote: 
      input(type='number' min='1' max='10' step='1'
            name='vote' placeholder='1')
      if (userVote != undefined)
        div
          button(name='vote' type='submit' value='0') Remove Vote
      button(name='vote' type='submit' value='-1') I don't think this will succeed
      button(name='vote' type='submit' value='-2') Too difficult to implement
      button(name='vote' type='submit' value='-3') I don't support this for some other reason
    div
      input(type='submit')
