.caption {
	height: 200px;
	overflow: hidden;
}

.all-category {
     margin-bottom: 1em;
}

.thumbnail {
	padding: 0px;
}

.thumbnail-container {
	width: 250px;
	height: 200px;
	display: table-cell;
	vertical-align: middle;
}

.thumbnail-img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width:100%;
	max-height:100%;
}

#latest {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

#popular {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.smalltext {
	font-size: 14px;
}

.caption {
	position: relative;
}

.caption-footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
}

#addmargin {
	margin-right: 20px;
	text-align: center;
}