body {
  padding-bottom: 20px;
  font-size: 12pt;
  font-family: sans-serif;
}

a {
  color: #00B7FF;
}

.jumbotron p {
	font-size: 12pt;
}

.bold {
	font-weight: bold;
}

#short {
	width: 970px;
}

#image {
	padding: 5px;
}

#padding-adjust {
	padding-right:200px;
}